body {
    background-color:white;
}

body, button, input, select, textarea {
    font-family: 'PT Sans',sans-serif;
    color: rgb(34, 34, 34);
}

div.roundedCorners {
    border-radius: 6px; 
-moz-border-radius: 6px; 
-webkit-border-radius: 6px; 
border: 2px solid #bbb;
}

#nav_sub {
    height: 37px;
    border-bottom: 1px solid rgb(178, 178, 178);
    background:#e8e8e8;
    background:-moz-linear-gradient(top,#e8e8e8 0,#d4d4d4 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#e8e8e8),color-stop(100%,#d4d4d4));
    background:-webkit-linear-gradient(top,#e8e8e8 0,#d4d4d4 100%);
    background:-o-linear-gradient(top,#e8e8e8 0,#d4d4d4 100%);
    background:-ms-linear-gradient(top,#e8e8e8 0,#d4d4d4 100%);
    background:linear-gradient(top,#e8e8e8 0,#d4d4d4 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8e8e8',endColorstr='#d4d4d4',GradientType=0);
}

.alert { 
position:relative;border:1px solid;border-radius:3px;clear:both;margin-bottom:9px;margin-top:10px;padding:7px 15px;padding-left:30px;-webkit-box-shadow:inset 1px 1px 0 0 rgba(255,255,255,0.65);-moz-box-shadow:inset 1px 1px 0 0 rgba(255,255,255,0.65);box-shadow:inset 1px 1px 0 0 rgba(255,255,255,0.65)
}

.alert.info{
    border-color:#446d99;
    background:url('/config-ui/resources/images/bg-information.png') repeat-x #a5c8f4;
}

ul#nav_sub_links {
    display:block;
    width: 100%;
    margin:0;
    line-height: 38px;
    left: 0px;    
}

ul#nav_sub_links a { 
    color: rgb(74, 74, 74);
text-decoration: none;
outline: 0px none;
    font-size: 13px;
    text-shadow: 0px 1px 0px rgb(255, 255, 255);
}

ul#nav_sub_links li:first-child {
    padding-left: 5px;
}

ul#nav_sub_links li {
    display: inline-block;
    padding: 0px 30px;
    background: url("/config-ui/resources/images/seperator.png") no-repeat scroll right center transparent;
    float: left;
}

#header_main {
    height: 75px;
    border-top: 1px solid rgb(122, 156, 192);
    border-bottom: 1px solid rgb(4, 23, 43);
    padding-top: 5px;
    padding-left:5px;
    background:#366fac;
    background:-moz-linear-gradient(top,rgba(54,111,172,1) 0,rgba(24,75,130,1) 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(54,111,172,1)),color-stop(100%,rgba(24,75,130,1)));
    background:-webkit-linear-gradient(top,rgba(54,111,172,1) 0,rgba(24,75,130,1) 100%);
    background:-o-linear-gradient(top,rgba(54,111,172,1) 0,rgba(24,75,130,1) 100%);
    background:-ms-linear-gradient(top,rgba(54,111,172,1) 0,rgba(24,75,130,1) 100%);
    background:linear-gradient(top,rgba(54,111,172,1) 0,rgba(24,75,130,1) 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#366fac',endColorstr='#184b82',GradientType=0);
}

h3 {
	font-size:15px;
	padding:5px 0;
		margin:0;
}

div#bundle-table-col {    
	
}
div#side-form {
margin-left:20px;
width:260px;
float:right;
margin-top:-5px;
padding:10px;
padding-top:0px;
height:400px;
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

div.baseForm div {
	margin-bottom:5px;
}

div#side-form div {
	margin-bottom:5px;
}

div.form-submit-area {
	padding:5px 0;
	
}


table.fancyTable {
    padding:2px;
	border-top:1px solid #bbb;
	border-bottom:1px solid #bbb;

	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#bbb), to(#ccc));
	background: -moz-linear-gradient(top,  #bbb,  #ccc);
}

table.fancyTable th {
    padding:7px 5px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #bbb;
        border-left: 1px solid #bbb;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}

table.fancyTable td {
	padding:5px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #bbb;
	border-left: 1px solid #bbb;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}


input, textarea {  
    padding: 4px;  
    border: solid 1px #E5E5E5;  
    outline: 0;  
    font: normal 13px/100% Verdana, Tahoma, sans-serif;  
    width: 247px;  
    background: #FFFFFF;  
    }  
textarea {  
    width: 400px;  
    max-width: 400px;  
    height: 150px;  
    line-height: 150%;  
    }  
input:hover, textarea:hover,  
input:focus, textarea:focus {  
    border-color: #C9C9C9;  
    }  
.form label {  
    margin-left: 10px;  
    color: #999999;  
    }  
.submit input {  
    width: auto;  
    padding: 4px 5px;  
    background: #617798;  
    border: 0;  
    font-size: 14px;  
    color: #FFFFFF;  
    } 
    
   input[type='checkbox'] { width:auto; }
    
   input, textarea {  
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));  
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);  
    
    } 
    
        input, textarea {  
        background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));  
        background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);  
        }  
    
    input:hover, textarea:hover,  
input:focus, textarea:focus {  
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;  
    } 
    
        button#submitType {  
        
        width: auto;  
    padding: 4px 5px;  
    background:  rgb(0, 133, 195);  
    border: 0;  
    font-size: 12px;  
    color: #fff;
    -webkit-border-radius: 5px;  
        -moz-border-radius: 5px;    
        
        } 
    
input.regularButton {  
        
        width: auto;  
    padding: 4px 5px;  
    background:  #bbb;  
    border: 0;  
    font-size: 12px;  
    color: #fff;
    -webkit-border-radius: 5px;  
        -moz-border-radius: 5px;    
        
        } 
    
         
        div.quickform {
            font-size:12px;
        }
        div.quickform div {
            
            margin:5px 0;
            
        }
        
        ul.anchorList {
            list-style:none;
            margin:0;
            padding:0;
        }
        ul.anchorList li {
            margin:0;
        }