<client>
    <endpoint address="http://localhost/ConfigService/CertificateService.svc/Certificates"
         binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICertificateStore"
         contract="CertificateService.ICertificateStore" name="BasicHttpBinding_ICertificateStore" />
    <endpoint address="http://localhost/ConfigService/CertificateService.svc/Anchors"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAnchorStore"
        contract="CertificateService.IAnchorStore" name="BasicHttpBinding_IAnchorStore" />
    <endpoint address="http://localhost/ConfigService/DomainManagerService.svc/Addresses"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAddressManager"
        contract="DomainManager.IAddressManager" name="BasicHttpBinding_IAddressManager" />
    <endpoint address="http://localhost/ConfigService/DomainManagerService.svc/Domains"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDomainManager"
        contract="DomainManager.IDomainManager" name="BasicHttpBinding_IDomainManager" />
    <endpoint address="http://localhost/ConfigService/DomainManagerService.svc/DnsRecords"
            binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDnsRecordManager"
            contract="DomainManager.IDnsRecordManager" name="BasicHttpBinding_IDnsRecordManager" />
    <endpoint address="http://localhost/ConfigService/AuthManagerService.svc/Authentication"
            binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuthManager"
            contract="AuthManager.IAuthManager" name="BasicHttpBinding_IAuthManager" />
  <endpoint address="http://localhost:6692/MonitorService.svc/Dispositions"
            binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMdnMonitor"
            contract="MonitorService.IMdnMonitor" name="BasicHttpBinding_IMdnMonitor" />
</client>