<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <remove name="BasicHttpBinding" />
                <binding name="BasicHttpBinding">
                    <security>
                        <transport>
                            <extendedProtectionPolicy policyEnforcement="Never" />
                        </transport>
                    </security>
                </binding>
                <remove name="BasicHttpBinding_MTOM" />
                <binding name="BasicHttpBinding_MTOM" maxBufferSize="262144"
                    maxReceivedMessageSize="262144" messageEncoding="Mtom">
                    <readerQuotas maxArrayLength="10000" />
                    <security>
                        <transport>
                            <extendedProtectionPolicy policyEnforcement="Never" />
                        </transport>
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client />
    </system.serviceModel>
</configuration>