<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="ServiceSettingsGroup">
      <section name="DnsRecordManagerServiceSettings" type="Health.Direct.Config.Client.ClientSettings, Health.Direct.Config.Client"         
        allowLocation="true" 
        allowDefinition="Everywhere" />
      <section name="CertificateManagerServiceSettings" type="Health.Direct.Config.Client.ClientSettings, Health.Direct.Config.Client"
        allowLocation="true"
        allowDefinition="Everywhere" />
      <section name="DnsServerSettings" type="Health.Direct.DnsResponder.DnsServerSettings, Health.Direct.DnsResponder"
        allowLocation="true"
        allowDefinition="Everywhere" />
    </sectionGroup>
  </configSections>
  <ServiceSettingsGroup>
    <DnsRecordManagerServiceSettings Url="http://localhost:6692/DomainManagerService.svc/DnsRecords" />
    <CertificateManagerServiceSettings Url="http://localhost:6692/CertificateService.svc/Certificates" />
    <DnsServerSettings
      Address="127.0.0.1"
      Port="5353">
      <UdpServerSettings
        MaxOutstandingAccepts="1" />
    </DnsServerSettings>
  </ServiceSettingsGroup>
  <appSettings>
  </appSettings>
</configuration>