<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="logging" type="Health.Direct.Common.Diagnostics.LogFileSection, Health.Direct.Common" />
    <section name="ioc" type="Health.Direct.Common.Container.IocContainerSection, Health.Direct.Common" />
    <section name="container" type="Health.Direct.Common.Container.SimpleContainerSection, Health.Direct.Common" />
    <sectionGroup name="ServiceSettingsGroup">
      <section name="RecordRetrievalServiceSettings" type="Health.Direct.Config.Client.ClientSettingsSection, Health.Direct.Config.Client" allowLocation="true" allowDefinition="Everywhere" />
      <section name="AuthoritativeResolutionSettings" type="Health.Direct.DnsResponder.AuthoritativeResolutionSettingsSection, Health.Direct.DnsResponder" allowLocation="true" allowDefinition="Everywhere" />
      <section name="DnsServerSettings" type="Health.Direct.DnsResponder.DnsServerSettingsSection, Health.Direct.DnsResponder" allowLocation="true" allowDefinition="Everywhere" />
    </sectionGroup>
  </configSections>
  <ServiceSettingsGroup>
    <RecordRetrievalServiceSettings Url="http://localhost/DnsService/RecordRetrievalService.svc/Records" />
    <!--
    <RecordRetrievalServiceSettings Url="http://localhost:6693/RecordRetrievalService.svc/Records" />
    -->
    <DnsServerSettings Address="0.0.0.0" Port="53" DefaultTTL="3600">
      <UdpServerSettings MaxOutstandingAccepts="4" MaxActiveRequests="64" SendTimeout="10000" ReceiveTimeout="10000" />
      <TcpServerSettings MaxOutstandingAccepts="4" MaxActiveRequests="64" SendTimeout="10000" ReceiveTimeout="10000" SocketCloseTimeout="2000" />
    </DnsServerSettings>
  </ServiceSettingsGroup>
  <logging>
    <file directory="~\Log" name="dnsserver_${date:format=yyyyMMdd}" extension="log" />
    <behavior rolloverFrequency="Day" loggingLevel="Debug" />
    <eventLog threshold="Fatal" source="Health.Direct.DnsResponder.WinSrv" />
  </logging>
  <ioc type="Health.Direct.Common.Container.SimpleDependencyResolver, Health.Direct.Common" />
  <container>
    <components>
      <component service="Health.Direct.Common.Diagnostics.ILogFactory, Health.Direct.Common" type="Health.Direct.Diagnostics.NLog.NLogFactory, Health.Direct.Diagnostics.NLog" scope="Singleton" />
    </components>
  </container>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>