<services>
  <service behaviorConfiguration="NHINDirect.Config.Service.CertificateServiceBehavior"
     name="NHINDirect.Config.Service.CertificateService">
    <!--
    <endpoint address="Certificates" binding="wsHttpBinding" contract="NHINDirect.Config.Service.ICertificateStore" />
    <endpoint address="Anchors" binding="wsHttpBinding" contract="NHINDirect.Config.Service.IAnchorStore" />
    -->
    <endpoint address="Certificates" binding="basicHttpBinding" contract="NHINDirect.Config.Service.ICertificateStore" />
    <endpoint address="Anchors" binding="basicHttpBinding" contract="NHINDirect.Config.Service.IAnchorStore" />
    <!--
     <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
     -->
  </service>
  <service behaviorConfiguration="NHINDirect.Config.Service.DomainManagerService"
   name="NHINDirect.Config.Service.DomainManagerService">
    <!--
    <endpoint address="Domains" binding="wsHttpBinding" contract="NHINDirect.Config.Service.IDomainManager" />
    <endpoint address="Addresses" binding="wsHttpBinding" contract="NHINDirect.Config.Service.IAddressManager" />
    -->
    <endpoint address="Addresses" binding="basicHttpBinding" contract="NHINDirect.Config.Service.IAddressManager" />
    <endpoint address="Domains" binding="basicHttpBinding" contract="NHINDirect.Config.Service.IDomainManager" />
    <!--
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
     -->
  </service>
</services>