<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="logging" type="Health.Direct.Common.Diagnostics.LogFileSection, Health.Direct.Common" />
        <section name="ioc" type="Health.Direct.Common.Container.IocContainerSection, Health.Direct.Common"/>
        <section name="container" type="Health.Direct.Common.Container.SimpleContainerSection, Health.Direct.Common"/>
    </configSections>
    
    <ioc type="Health.Direct.Common.Container.SimpleDependencyResolver, Health.Direct.Common" />

    <logging>
        <file directory="~" name="common-tests-${date:format=yyyyMMdd}" archiveName="common-tests-${date:format=yyyyMMdd}.{###}" extension="log" />
        <behavior rolloverFrequency="Minute" loggingLevel="Debug" />
        <eventLog threshold="Fatal" source="Health.Direct.Config.Service" />
    </logging>

    <!-- this is specific to the container, other containers will vary -->
    <container>
        <components>
            <component service="Health.Direct.Common.Tests.Container.IFoo, Health.Direct.Common.Tests"
                       type="Health.Direct.Common.Tests.Container.Foo, Health.Direct.Common.Tests"
                       scope="Singleton" />
            <component service="Health.Direct.Common.Tests.Container.IBar, Health.Direct.Common.Tests"
                       type="Health.Direct.Common.Tests.Container.Bar, Health.Direct.Common.Tests"
                       scope="Transient" />
            <component service="Health.Direct.Common.Diagnostics.ILogFactory, Health.Direct.Common"
                       type="Health.Direct.Diagnostics.NLog.NLogFactory, Health.Direct.Diagnostics.NLog"
                       scope="Singleton"
                       />
        </components>
    </container>
</configuration>