<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="container" type="Health.Direct.Common.Container.SimpleContainerSection, Health.Direct.Common"/>
    </configSections>
    <container>
        <components>
            <component service="Health.Direct.Common.Tests.Container.IFoo, Health.Direct.Common.Tests" 
                       type="Health.Direct.Common.Tests.Container.Foo, Health.Direct.Common.Tests"
                       scope="Singleton" />
            <component service="Health.Direct.Common.Tests.Container.IBar, Health.Direct.Common.Tests"
                       type="Health.Direct.Common.Tests.Container.Bar, Health.Direct.Common.Tests"
                       scope="Transient" />
        </components>
    </container>
</configuration>