<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
    <configSections>
        <section name="logging" type="Health.Direct.Common.Diagnostics.LogFileSection, Health.Direct.Common"/>
        <section name="ioc" type="Health.Direct.Common.Container.IocContainerSection, Health.Direct.Common"/>
        <section name="container" type="Health.Direct.Common.Container.SimpleContainerSection, Health.Direct.Common"/>
    </configSections>

    <appSettings>
        <add key="queryTimeout" value="00:00:10"/>
    </appSettings>

    <logging>
        <file directory="C:\ProgramData\DirectProject\Log" name="ConfigService" extension="log"/>
        <behavior rolloverFrequency="Day" loggingLevel="Debug"/>
        <eventLog threshold="Fatal" source="Health.Direct.Config.Service"/>
    </logging>

    <ioc type="Health.Direct.Common.Container.SimpleDependencyResolver, Health.Direct.Common"/>

    <container>
        <components>
            <component service="Health.Direct.Common.Diagnostics.ILogFactory, Health.Direct.Common" type="Health.Direct.Diagnostics.NLog.NLogFactory, Health.Direct.Diagnostics.NLog" scope="Singleton"/>
        </components>
    </container>

    <connectionStrings>
        <add name="configStore" connectionString="Data Source=(localdb)\Projects;Initial Catalog=DirectConfig;Integrated Security=SSPI;"/>
        <!--
        <add name="configStore" connectionString="Data Source=localhost;Initial Catalog=DirectConfig;Integrated Security=SSPI;Persist Security Info=True;User ID=nhindUser;Password=nhindUser!10"/>
        -->
    </connectionStrings>

    <system.web>
        <compilation debug="true" targetFramework="4.5.1" />
        <httpRuntime targetFramework="4.5.1" />
    </system.web>

    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
            <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
            <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
            <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
            <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
            <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
            <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
            <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
            <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
            <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
            <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>

    <system.webServer>
        <handlers>
            <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
            <remove name="OPTIONSVerbHandler" />
            <remove name="TRACEVerbHandler" />
            <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
        </handlers>
    </system.webServer>
</configuration>
