a
{
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

.border-none
{
    border: none !important;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset 
{
    margin: 1em 0;
    padding: 1em;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

input[type="text"] 
{
    width: 200px;
    border: 1px solid #CCC;
}

input[type="password"] 
{
    width: 200px;
    border: 1px solid #CCC;
}

/* TABLE
----------------------------------------------------------*/

table 
{
  border-collapse: collapse;
}

table td 
{
  padding: 0px 5px;
  border-style: solid;
  border-width: 1px;  
}

table th
{
  padding: 6px 5px;
  text-align: left;
  border-style: solid;
  border-width: 1px;  
}

/* MISC  
----------------------------------------------------------*/
.clear
{
    clear: both;
}

.error
{
    color:Red;
}

#menucontainer
{
    margin-top:50px;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
}

.validation-summary-valid
{
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label,
.editor-label,
.display-field,
.editor-field
{
    margin: 0.5em 0;
}

.display-label,
.editor-field
{
    font-weight: bold;
    width: 100px;
    text-align: right;
    float: left;
    clear: both;
}

.display-field,
.editor-field
{
    float: left;
    margin-left: 1.0em;
}    

.editor-validator
{
    float: left;
    margin-left: 0.5em;
}

.text-box
{
    width: 30em;
}

.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}
