<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding">
                    <security>
                        <transport>
                            <extendedProtectionPolicy policyEnforcement="Never" />
                        </transport>
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IAddressManager" />
                <binding name="BasicHttpBinding_IDomainManager" />
                <binding name="BasicHttpBinding_ICertificateStore">
                    maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
                    textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
                    messageEncoding="Text">
                    maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
                    textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
                    messageEncoding="Text">
                    maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
                    textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
                    messageEncoding="Text">
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IAnchorStore">
                    <security>
                        <message algorithmSuite="Default" />
                    maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
                    textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
                    messageEncoding="Text">
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IBundleStore" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
                    textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
                    messageEncoding="Text">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IDnsRecordManager" />
                <binding name="BasicHttpBinding_IRecordRetrievalService">
                    <security>
                    maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
                    textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
                    messageEncoding="Text">
                    maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
                    textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
                    messageEncoding="Text">
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IAuthManager">
                    <security>
                        <message algorithmSuite="Default" />
                    maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
                    textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
                    messageEncoding="Text">
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IPropertyManager">
                    <security>
                        <message algorithmSuite="Default" />
                    maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
                    textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
                    messageEncoding="Text">
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IBlobManager">
                    <security>
                        <message algorithmSuite="Default" />
                    maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
                    textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
                    messageEncoding="Text">
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IMdnMonitor" />
                <binding name="BasicHttpBinding_IBundleStore1">
                    <security>
                        <message algorithmSuite="Default" />
                    maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
                    textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
                    messageEncoding="Text">
                    </security>
                </binding>
                <binding name="BasicHttpBinding_ICertPolicyStore" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:6692/CertificateService.svc/Bundles"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBundleStore"
                contract="CertificateService.IBundleStore" name="BasicHttpBinding_IBundleStore" />
            <endpoint address="http://localhost:6692/AuthManagerService.svc/Authentication"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuthManager"
                contract="AuthManager.IAuthManager" name="BasicHttpBinding_IAuthManager" />
            <endpoint address="http://localhost:6692/SettingsManager.svc/Properties"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPropertyManager"
                contract="SettingsManager.IPropertyManager" name="BasicHttpBinding_IPropertyManager" />
            <endpoint address="http://localhost:6692/SettingsManager.svc/Blobs"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBlobManager"
                contract="SettingsManager.IBlobManager" name="BasicHttpBinding_IBlobManager" />
            <endpoint address="http://localhost:6692/CertificateService.svc/Certificates"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICertificateStore"
                contract="CertificateService.ICertificateStore" name="BasicHttpBinding_ICertificateStore" />
            <endpoint address="http://localhost:6692/CertificateService.svc/Anchors"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAnchorStore"
                contract="CertificateService.IAnchorStore" name="BasicHttpBinding_IAnchorStore" />
            <endpoint address="http://localhost:6692/CertificateService.svc/Bundles"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBundleStore1"
                contract="CertificateService.IBundleStore" name="BasicHttpBinding_IBundleStore1" />
            <endpoint address="http://localhost:6693/RecordRetrievalService.svc/Records"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRecordRetrievalService"
                contract="RecordRetrieval.IRecordRetrievalService" name="BasicHttpBinding_IRecordRetrievalService" />
            <endpoint address="http://localhost:6692/DomainManagerService.svc/Addresses"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAddressManager"
                contract="DomainManager.IAddressManager" name="BasicHttpBinding_IAddressManager" />
            <endpoint address="http://localhost:6692/DomainManagerService.svc/Domains"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDomainManager"
                contract="DomainManager.IDomainManager" name="BasicHttpBinding_IDomainManager" />
            <endpoint address="http://localhost:6692/DomainManagerService.svc/DnsRecords"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDnsRecordManager"
                contract="DomainManager.IDnsRecordManager" name="BasicHttpBinding_IDnsRecordManager" />
            <endpoint address="http://localhost:6692/MonitorService.svc/Dispositions"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMdnMonitor"
                contract="MonitorService.IMdnMonitor" name="BasicHttpBinding_IMdnMonitor" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
