<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="logging" type="Health.Direct.Common.Diagnostics.LogFileSection, Health.Direct.Common" />
        <section name="ioc" type="Health.Direct.Common.Container.IocContainerSection, Health.Direct.Common" />
        <section name="container" type="Health.Direct.Common.Container.SimpleContainerSection, Health.Direct.Common" />
    </configSections>
    <logging>
        <file directory="~\Log" name="ConfigService" extension="log" />
        <behavior rolloverFrequency="Day" loggingLevel="Debug" />
        <eventLog threshold="Fatal" source="Health.Direct.Config.Service" />
    </logging>
    <ioc type="Health.Direct.Common.Container.SimpleDependencyResolver, Health.Direct.Common" />
    <container>
        <components>
            <component service="Health.Direct.Common.Diagnostics.ILogFactory, Health.Direct.Common"
                       type="Health.Direct.Diagnostics.NLog.NLogFactory, Health.Direct.Diagnostics.NLog"
                       scope="Singleton"
                       />
        </components>
    </container>
    <connectionStrings>
        <add name="configStore" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=DirectConfig;Integrated Security=SSPI;"/>
    </connectionStrings>
</configuration>